/* latin */ @font-face {font-family: 'Poppins'; font-style: normal; font-weight: 300; font-display: swap; src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin */ @font-face {font-family: 'Poppins'; font-style: normal; font-weight: 400; font-display: swap; src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
/* latin */ @font-face {font-family: 'Poppins'; font-style: normal; font-weight: 500; font-display: swap; src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin */ @font-face {font-family: 'Poppins'; font-style: normal; font-weight: 600; font-display: swap; src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* latin */ @font-face {font-family: 'Poppins'; font-style: normal; font-weight: 700; font-display: swap; src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

body{font-size:14px;font-family:'Poppins', sans-serif;background-color:#11161d;color:#C2C2C2;line-height:1.313rem;font-weight:400;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5{font-weight:300;}

strong{font-weight:700;}
b{font-weight:600}

h1{font-size:86px;}
h2{font-size:35px;}
h3{font-size:24px;}
h4,.h4{font-size:18px;}
h5{font-size:16px;}
h6{font-size:15px;}

.font-9{font-size:9px;}
.font-10{font-size:10px;}
.font-12{font-size:12px;}
.sm-line-height{line-height:13.5px;}
.tp-bdr{top:10px;}
.text-peach{color:#FF755C;}
.text-pink{color:#FF196E;}
.black-bg{background-color:#0B0E12;}
.brown-bg{background-color:#212121;}
.rounded-xl{border-radius:16px;}
.peach-bg{background-color:#FF755C;}
.peach-border{border-color:#FF755C;}
.pink-bg{background-color:#FF196E;}
.pink-border{border-color:#FF196E;}
.subtext{color: #647685;}

/*Tabbings*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{background-color:transparent;color:#FF116D!important;}
.nav-pills .nav-link.active:after, .nav-pills .show>.nav-link:after{border-bottom:7px solid #FF196E;content:'';bottom:-15px;top:0;right:0;left:0;position:absolute;}

/*Buttons*/
.btn:hover,.btn:active,.btn:focus{border-color:#FF755C;background-color:#FF755C;color:#fff;box-shadow:none;outline:none}
.btn-check:active+.btn-warning:focus, .btn-check:checked+.btn-warning:focus, .btn-warning.active:focus, .btn-warning:active:focus, .show>.btn-warning.dropdown-toggle:focus, .btn-check:active+.btn-outline-warning:focus, .btn-check:checked+.btn-outline-warning:focus, .btn-outline-warning.active:focus, .btn-outline-warning.dropdown-toggle.show:focus, .btn-outline-warning:active:focus{box-shadow:none;}
.btn.pink-border:hover,.btn.pink-border:active,.btn.pink-border:focus{border-color:#FF196E;background-color:#FF196E;color:#fff;box-shadow:none;outline:none}
.uploadPhotoField {
	display: flex;
	justify-content: space-between;
}
  .uploadPhotoField button{ height: 41px;
    width: 150px;
    padding: 0; margin-left: 20px;
    }
.custom-file {	
	outline: none; position: relative; margin-bottom:20px; width: 90%;
}
.custom-file-input {
	position: relative;
	z-index: 2;
	width: 100%;
	height: calc(2.50rem + 2px);
	margin: 0;
	opacity: 0; 
}
.custom-file-label {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	height: calc(2.50rem + 2px);
	padding: .375rem .75rem;
	line-height: 2;
	background: #0B0E13;
	border-radius: 15px;
	border: 0;
	color: #fff;
	border-radius: .25rem;
}
.custom-file-label::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	display: block;
	height: calc(calc(2.50rem + 2px) - 1px * 2);
	padding: .375rem .75rem;
	line-height: 2;
	color: #495057;
	content: "Choose Photos";
	background-color: #e9ecef;
	border-left: 1px solid #ced4da;
	border-radius: 0 .25rem .25rem 0;
}
.messageBox textarea{height: 80px;}
.messageBox button{width: 100px; float:right; margin: 15px 0;}
@media screen and (max-width:991px) {
	.container.tab .w-75{width:100%!important;}
	.w-25{width:50%!important;}
}
@media screen and (max-width:767px) {
	.container.tab{max-width:100%;}
}
@media screen and (max-width:471px) {
	.tab .nav-link{padding:12px 5px;}
	.tab .btn,.tab .h4{font-size:12px;}	
}
















